@use "variables";

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$Font-Family-Body;
  font-size: variables.$Font-Size-Body;
  background-color: variables.$Light-Gray;
}
