// Colors
$Cyan: hsl(179, 62%, 43%);
$Other-Color: #4abebd;
$Letter-Color: #8ee4e5;
$Bright-Yellow: hsl(71, 73%, 54%);
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);
$White: #fff;
// Fonts
$Font-Family-Body: "Karla", sans-serif;
$Font-Size-Body: 16px;
